<footer class="app-footer">
    <div class="app-grid four">
        <div class="footer-about">
            <h2>À Propos de {{ app_settingsService.settings.siteName }}</h2>
            <p>
                <strong>Féelarsen</strong>
                est un <strong>groupe de rock</strong> basé à <strong>Limoges</strong>, influencé par
                <strong>Noir Désir</strong>, <strong>Starshooter</strong>, et <strong>les Wampas</strong>. Leurs
                <strong>compositions originales</strong> et en <strong>français</strong> abordent des
                <strong>thèmes sombres et ironiques</strong> avec des <strong>paroles incisives</strong> et des
                <strong>riffs mordants</strong>.
            </p>
        </div>

        <div class="footer-links">
            <h2>Liens Utiles</h2>
            <ul>
                {# <li>
                    <a href="https://www.bastardsoundsystem.org/la-diffusion/albums-et-mechandising/feelarsen"
                       target="_blank">
                        Albums et merchandising
                    </a>
                </li> #}
                <li>
                    <a href="{{ asset('uploads/document/feelarsen-dossier-de-communication.pdf') }}" target="_blank">
                        Dossier de communication
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_front_office_privacy') }}"
                       class="{% if app.request.get('_route') == 'app_front_office_privacy' %}active{% endif %}">
                        Politique de confidentialité
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_front_office_legal') }}"
                       class="{% if app.request.get('_route') == 'app_front_office_legal' %}active{% endif %}">
                        Mentions légales
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-social">
            <h2>Réseaux Sociaux</h2>
            <div class="app-grid five xs">
                {% for social in app_socialService.socials %}
                    <a href="{{ social.url }}"
                       class="app-icon {{ social.name | slug | lower }}"
                       title="{{ social.title }}"
                       target="_blank">
                        {{ ux_icon(social.icon, {'class': 'app-icon medium'}) }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="footer-contact">
            <h2>Contact Label</h2>
            <ul>
                <li>
                    <strong>Bastard Sound System</strong>
                </li>
                <li>
                    <a href="tel:+33683573067">+33 6 83 57 30 67</a>
                </li>
                <li>
                    <a href="mailto:contact@bastardsoundsystem.org">contact@bastardsoundsystem.org</a>
                </li>
                <li>
                    <a href="https://bastardsoundsystem.org" target="_blank">www.bastardsoundsystem.org</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-credits">
        <p>
            &copy; {{ 'now' | date('Y') }} {{ app_settingsService.settings.siteName }}. Tous droits réservés.
            Crédits Photos :
            <a href="https://www.bastardsoundsystem.org/nos-partenaires/cedric-carre" target="_blank">Cédric Carré</a>
            •
            <a href="https://www.facebook.com/profile.php?id=100089432896327" target="_blank">Laeti D. Photos</a>.
            Crédits Vidéos :
            <a href="https://www.bastardsoundsystem.org/nos-partenaires/shadoworkprod" target="_blank">ShadoWorkProd</a>.
        </p>
    </div>
</footer>
