<nav class="app-navigation">
    <a href="{{ path('app_back_office_calendar_home') }}"
       {% if 'app_back_office_calendar_' in app.request.get('_route') %}class="active"{% endif %}>
        <span class="visible-xs">
            {{ ux_icon('lets-icons:date-fill', {'class': 'app-icon medium'}) }}
            Dates
        </span>
        <span class="visible-md">Concerts</span>
    </a>

    <a href="#biographie" data-navigation-target="link">
        <span class="visible-xs">
            {{ ux_icon('fa6-solid:users', {'class': 'app-icon medium'}) }}
            Bio
        </span>
        <span class="visible-md">Biographie</span>
    </a>

    <a href="#discographie" data-navigation-target="link">
        <span class="visible-xs">
            {{ ux_icon('iconamoon:music-album-fill', {'class': 'app-icon medium'}) }}
            Disco
        </span>
        <span class="visible-md">Discographie</span>
    </a>

    <a href="#videos" data-navigation-target="link">
        <span class="visible-xs">
            {{ ux_icon('solar:album-bold', {'class': 'app-icon medium'}) }}
            Vidéos
        </span>
        <span class="visible-md">Vidéos/Photos</span>
    </a>

    <a href="#contact" data-navigation-target="link">
        <span class="visible-xs">
            {{ ux_icon('clarity:envelope-solid', {'class': 'app-icon medium'}) }}
            Contact
        </span>
        <span class="visible-md">Contact</span>
    </a>
</nav>
