<section class="app-section" id="concerts" data-navigation-target="section">
    <h2>{{ calendar.name }}</h2>

    <div class="app-grid four mb-3">
        {% for date in calendar.dates %}
            <div class="app-card {% if date.startAt < date('now') %}disabled{% endif %}">
                <div class="card-image">
                    {% if date.link %}
                    <a href="{{ date.link }}" target="_blank">
                        {% endif %}
                        {% if date.poster %}
                            <img src="{{ asset('uploads/calendar/' ~ calendar.slug ~ '/' ~ date.poster) }}"
                                 alt="{{ date.location }}"/>
                        {% else %}
                            <img src="{{ asset('uploads/calendar/' ~ calendar.slug ~ '/' ~ calendar.poster) }}"
                                 alt="{{ date.location }}"/>
                        {% endif %}
                        {% if date.link %}
                    </a>
                    {% endif %}
                </div>

                <div class="card-body">
                    <h3 class="card-title">{{ date.startAt | format_datetime(locale=app_locale, pattern="EEEE dd MMMM") | title }}</h3>
                    <h4>{{ date.location }}</h4>
                    <h5>
                        {% if date.startAt|date('H') > 0 or date.startAt|date('i') > 0 %}
                            {{ date.startAt | format_datetime(locale=app.locale, pattern="HH'h'mm") }}
                            à
                        {% endif %}
                        {{ date.city }}
                    </h5>
                </div>
            </div>
        {% endfor %}
    </div>

    {#<p>
        <a href="#" class="app-button b-center">Toutes les Dates</a>
    </p>#}
</section>
