{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<fieldset class="form-fieldset">
    <legend class="form-legend">Informations du Morceau</legend>

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.fileName) }}
        {% if track is defined and track.fileName %}
            <div class="app-grid third">
                <div class="file">
                    {{ form_widget(form.fileName) }}
                    <p>{{ track.fileName }}</p>
                    <p>
                        <a href="{{ path('app_back_office_track_filename_delete', {'id': track.id}) }}"
                           class="text-danger"
                           onclick="return window.confirm('Êtes-vous sûr ?')">
                            Supprimer
                        </a>
                    </p>
                </div>
                <div class="preview">
                    <a href="{{ asset('uploads/album/' ~ track.album.slug ~ '/' ~ track.fileName) }}" target="_blank">
                        <img src="{{ asset('uploads/album/' ~ track.album.slug ~ '/' ~ track.album.cover) }}"
                             alt="{{ track.title }}"/>
                    </a>
                </div>
            </div>
        {% else %}
            {{ form_widget(form.fileName) }}
        {% endif %}
        {{ form_errors(form.fileName) }}
    </div>
</fieldset>

<fieldset class="form-fieldset">
    <legend class="form-legend">Gestion du Morceau</legend>

    <div class="form-group">
        {{ form_label(form.album) }}
        {{ form_widget(form.album) }}
        {{ form_errors(form.album) }}
    </div>

    <div class="form-group">
        {{ form_label(form.position) }}
        {{ form_widget(form.position) }}
        {{ form_errors(form.position) }}
    </div>
</fieldset>

<div class="form-group">
    {{ form_widget(form._token) }}

    <button type="submit" class="form-submit">{{ button_label|default('Créer') }}</button>
</div>
{{ form_end(form, {'render_rest': false}) }}
