{% extends 'back_office/layout/_index.html.twig' %}

{% block title %}Administration du Groupe{% endblock %}

{% block main %}
    <section class="app-section cover" data-navigation-target="section">
        <img src="{{ asset('img/admincover.webp') }}" alt="Administration"/>
        <h1>Gérer la Biographie du Groupe</h1>
    </section>

    <section id="biographie" class="app-section">
        <h2>Le Groupe</h2>
        <div class="app-grid four">
            {% for artist in artists %}
                <div class="app-card">
                    <div class="card-image">
                        <img src="{{ asset('uploads/artist/' ~ artist.photo) }}" alt="{{ artist.name }}"/>
                    </div>

                    <div class="card-body">
                        <h3 class="card-title">{{ artist.name }}</h3>
                        <h4>{{ artist.instrument }}</h4>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('app_back_office_biography_artist_edit', {'id': artist.id}) }}"
                           class="text-info">
                            {{ ux_icon('fa6-solid:pen-to-square', {'class': 'app-icon'}) }}
                        </a>

                        <a href="{{ path('app_back_office_biography_artist_delete', {'id': artist.id}) }}"
                           class="text-danger"
                           onclick="return window.confirm('Êtes-vous sûr ?')">
                            {{ ux_icon('fa6-solid:trash-can', {'class': 'app-icon'}) }}
                        </a>
                    </div>
                </div>
            {% endfor %}

            {% if artists | length < app_settingsService.settings.maxArtists %}
                {% for i in 1..(app_settingsService.settings.maxArtists - artists | length) %}
                    <div class="app-card inactive">
                        <div class="card-image">
                            <a href="{{ path('app_back_office_biography_artist_add') }}">
                                <img src="{{ asset('uploads/artist/guitar.webp') }}" alt="Nouvel Artiste"/>
                            </a>
                        </div>

                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{{ path('app_back_office_biography_artist_add') }}" class="text-success">
                                    {{ ux_icon('fa6-solid:circle-plus', {'class': 'app-icon medium'}) }}
                                </a>
                            </h3>
                            <h4>Nouvel Artiste</h4>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="app-section biography">
        <h2>Son Histoire</h2>
        {% for article in biography %}
            <div class="app-grid third mb-1">
                <div class="content">
                    <div class="app-card">
                        <div class="card-body">
                            <p>{{ article.content | raw }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_back_office_biography_edit', {'id': article.id}) }}"
                               class="text-info">
                                {{ ux_icon('fa6-solid:pen-to-square', {'class': 'app-icon'}) }}
                            </a>

                            <a href="{{ path('app_back_office_biography_delete', {'id': article.id}) }}"
                               class="text-danger"
                               onclick="return window.confirm('Êtes-vous sûr ?')">
                                {{ ux_icon('fa6-solid:trash-can', {'class': 'app-icon'}) }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="photo">
                    <img src="{{ asset('uploads/biography/' ~ article.photo) }}"
                         alt="{{ app_settingsService.settings.siteName }}"/>
                </div>
            </div>
        {% endfor %}

        <div class="app-grid third">
            <div class="content a-center">
                <p class="center">
                    <a href="{{ path('app_back_office_biography_add') }}" class="text-success">
                        {{ ux_icon('fa6-solid:circle-plus', {'class': 'app-icon medium'}) }}
                    </a>
                    <br/>
                    Nouvel article
                </p>
            </div>
            <div class="photo">
                <img src="{{ asset('uploads/biography/biography.webp') }}"
                     alt="{{ app_settingsService.settings.siteName }}"/>
            </div>
        </div>
    </section>
{% endblock %}
