{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<fieldset class="form-fieldset">
    <legend class="form-legend">Informations du Calendrier</legend>

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.poster) }}
        {% if calendar is defined and calendar.poster %}
            <div class="app-grid third">
                <div class="file">
                    {{ form_widget(form.poster) }}
                    <p>{{ calendar.poster }}</p>
                    <p>
                        <a href="{{ path('app_back_office_calendar_poster_delete', {'id': calendar.id}) }}"
                           class="text-danger"
                           onclick="return window.confirm('Êtes-vous sûr ?')">
                            Supprimer
                        </a>
                    </p>
                </div>
                <div class="preview">
                    <a href="{{ asset('uploads/calendar/' ~ calendar.slug ~ '/' ~ calendar.poster) }}" target="_blank">
                        <img src="{{ asset('uploads/calendar/' ~ calendar.slug ~ '/' ~ calendar.poster) }}"
                             alt="{{ calendar.name }}"/>
                    </a>
                </div>
            </div>
        {% else %}
            {{ form_widget(form.poster) }}
        {% endif %}
        {{ form_errors(form.poster) }}
    </div>
</fieldset>

<fieldset class="form-fieldset">
    <legend class="form-legend">Gestion du Calendrier</legend>

    <div class="form-group toggle">
        {{ form_label(form.active, null, {'label_attr': {'class': 'toggle-label'}}) }}
        {{ form_widget(form.active) }}
        <div class="toggle-switch"></div>
    </div>

    <div class="form-group">
        {{ form_label(form.startAt) }}
        {{ form_widget(form.startAt) }}
        {{ form_errors(form.startAt) }}
    </div>

    <div class="form-group">
        {{ form_label(form.endAt) }}
        {{ form_widget(form.endAt) }}
        {{ form_errors(form.endAt) }}
    </div>
</fieldset>

<div class="form-group">
    {{ form_widget(form._token) }}

    <button type="submit" class="form-submit">{{ button_label|default('Créer') }}</button>
</div>
{{ form_end(form, {'render_rest': false}) }}
