{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<div class="app-grid two mb-3">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Informations du Calendrier</legend>

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
    </fieldset>

    <fieldset class="form-fieldset">
        <legend class="form-legend">Détails du Calendrier</legend>

        <div class="form-group toggle mb-0">
            <label for="{{ form.active.vars.id }}"
                   class="toggle-label {% if form.active.vars.required %}required{% endif %}">
                {{ form.active.vars.label }}
            </label>
            {{ form_widget(form.active) }}
            <div class="toggle-switch"></div>
        </div>

        <div class="app-grid two">
            <div class="form-group">
                {{ form_label(form.startAt) }}
                {{ form_widget(form.startAt) }}
                {{ form_errors(form.startAt) }}
            </div>

            <div class="form-group">
                {{ form_label(form.endAt) }}
                {{ form_widget(form.endAt) }}
                {{ form_errors(form.endAt) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.poster) }}
            {{ form_widget(form.poster) }}
            {{ form_errors(form.poster) }}
        </div>
    </fieldset>
</div>

{{ form_widget(form._token) }}

<fieldset class="form-fieldset actions">
    <div class="app-grid two">
        <a href="{{ path('app_back_office_calendar_home') }}" class="app-button outline">
            {{ ux_icon('ph:skip-back-fill', {'class': 'app-icon'}) }}
            Retour
        </a>
        <button type="submit" class="form-submit app-button cta">Enregistrer</button>
    </div>
</fieldset>
{{ form_end(form, {'render_rest': false}) }}
