{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<div class="app-grid two">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Vos Coordonnées</legend>

        <div class="form-group">
            {{ form_label(form.senderType) }}
            {{ form_widget(form.senderType) }}
            {{ form_errors(form.senderType) }}
        </div>

        <div class="form-group">
            {{ form_label(form.senderName) }}
            {{ form_widget(form.senderName) }}
            {{ form_errors(form.senderName) }}
        </div>

        <div class="form-group">
            {{ form_label(form.senderEmail) }}
            {{ form_widget(form.senderEmail) }}
            {{ form_errors(form.senderEmail) }}
        </div>

        <div class="form-group">
            {{ form_label(form.senderPhone) }}
            {{ form_widget(form.senderPhone) }}
            {{ form_errors(form.senderPhone) }}
        </div>
    </fieldset>

    <fieldset class="form-fieldset">
        <legend class="form-legend">Votre Message</legend>

        <div class="form-group">
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>

        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>
    </fieldset>

    <fieldset class="form-fieldset actions">
        <div class="form-group">
            {{ form_widget(form._token) }}

            <button type="submit" class="app-button bg-success">Envoyer</button>
        </div>
    </fieldset>
</div>
{{ form_end(form, {'render_rest': false}) }}
