{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Le Groupe{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office biography{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('uploads/settings/' ~ app_settingsService.settings.siteCover) }}"
             alt="{{ app_settingsService.settings.siteName }}"/>
        <div class="content">
            <h1>Le Groupe {{ app_settingsService.settings.siteName }}</h1>
            <p>{{ app_settingsService.settings.siteSlogan }}</p>
        </div>
    </section>

    <section class="app-section">
        <h2>Le Line Up</h2>

        <div class="app-grid flex spaced" data-controller="shuffle">
            {% for artist in artists %}
                <div class="app-card" data-shuffle-target="card">
                    <div class="card-header">
                        <img src="{{ asset('uploads/artist/' ~ artist.photo) }}"
                             alt="{{ artist.name }}"
                             class="portrait"/>
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{ artist.name }}</p>
                        <p class="card-title">
                            <small>
                                {{ artist.instruments }}
                            </small>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="app-section large">
        <h2>La Bio</h2>

        {% for biography in biographies %}
            <div class="app-grid third {% if not loop.last %}mb-1{% endif %}">
                <div class="content">
                    <p>{{ biography.content | raw }}</p>
                </div>
                <div class="photo">
                    {% if biography.photo %}
                        <img src="{{ asset('uploads/biography/' ~ biography.photo) }}"
                             alt="{{ app_settingsService.settings.siteName }}"/>
                    {% else %}
                        <img src="{{ asset('img/biography.webp') }}"
                             alt="{{ app_settingsService.settings.siteName }}"/>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
